# Make sure to ignore node_modules
node_modules

# Ignore the library as an unzipped folder
chartiq/js/*
chartiq/**/**
chartiq/examples/**

# And the ChartIQ library in tarball format
chartiq-chartiq-*.tgz
chartiq-*.*.*.tgz

# Ignore built files
dist

# Ignore generated test files
tests/errorShots
tests/logs

#Ignore any workspace files
*.sublime-workspace
*.sublime-project
*~
*.swp

#logs
*.log

#Ignore tests
stx
allure-report
allure-results
tests/package-lock.json

# vscode
.vscode/
*.code-workspace

# eclipse
.project
.settings/
