.route-list {
	margin: 40px auto;
	display: block;
	font-size: .85rem;
	line-height: 1.4;
	width: 600px;
	max-width: 80%;
	user-select: text;
}

.route-list h2 {
	margin: 24px 0 4px;
	color: #666;
	font-size: 1.15rem;
}

.route-list p {
	margin: 4px 0;
}

.route-list h3 {
	margin: 32px 0 8px;
	color: #222;
	font-weight: 500;
}

.top-level {
	margin: 0;
	padding: 0;
	list-style: none;
}

.route-list ul a {
  font-weight: 400;
  color: rgb(27, 102, 216);
  text-decoration: none;
  display: inline-block;
  margin-left: 0px;
}

.route-list ul ul {
  padding-left: 16px;
  list-style-type: disc;
}

.route-list i {
	white-space: nowrap;
}

.route-list h3.disabled-link {
	color: '#888'
}

.route-list h3.disabled-link div {
	font-size: .8em;
	padding-left: 6p;
	font-weight: normal
}
