/* The chart will fill up the dimensions of the container element. Set your chart size here. */
.cq-chart-container {
	position: absolute;
	height: 100%;
	width: 100%;
	background: #f8f8f8;
}

.ciq-night .cq-chart-container {
	background: #151f28;
}

/* .ciq-chart-area {
	position: relative;
	top: 0;
	bottom: 0;
	position: relative;
	height: calc(100% - 90px);
	top: auto !important;
} */

.ciq-footer {
	position: absolute;
}

.sidenav {
	height: calc(100% - 90px); /* leave room for the footer */
}

cq-toolbar {
	float: left;
	width: 100%;
}

.chartContainer {
	clear: left;
	width: 100%;
}

.title-overlay-controls {
	position: absolute;
	z-index: 31;
}

cq-chart-title {
	float: left;
	z-index: 10;
}

cq-comparison {
	/*float: left;*/
	clear: left;
	z-index: 25;
	display: 'inline-block';
}

cq-comparison-add {
	z-index: 25;
}

.title-overlay-controls cq-chartcontrol-group{
	z-index: 100;
}

.title-overlay-controls cq-chartcontrol-group cq-lookup cq-lookup-icon {
	right: 0;
	background-position-x: -50px;
}

.ciq-night .title-overlay-controls cq-chartcontrol-group cq-lookup cq-lookup-icon {
	background-position-x: -50px;
}

.title-overlay-controls cq-study-legend {
	float: left;
	clear: left;
	display: block;
	z-index: 23;
}

.title-overlay-controls cq-study-legend cq-section-dynamic {
	border-top: none;
	background: transparent;
	padding-bottom: 20px;
	float: left;
}

.title-overlay-controls
	cq-study-legend
	cq-section-dynamic
	cq-study-legend-content {
	display: block;
	float: left;
}

.title-overlay-controls cq-study-legend cq-item:hover {
	background-color: #fafafa;
	border-radius: 1px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.title-overlay-controls cq-study-legend cq-item {
	padding-left: 15px;
	font-weight: bolder;
}

.title-overlay-controls cq-study-legend cq-item cq-label {
	width: 130px;
}

.title-overlay-controls cq-study-legend {
	height: 15px;
	color: black;
	margin: 5px 0 0 10px;
	z-index: 23;
}

.break-sm .title-overlay-controls cq-study-legend {
	display: none;
}

.title-overlay-controls cq-study-legend cq-section-dynamic cq-heading {
	color: #a2a8ad;
	padding: 0;
	font-size: 12px;
	text-transform: initial;
	font-weight: normal;
	font-family: Roboto, Helvetica, sans-serif;
}

.title-overlay-controls cq-study-legend:hover cq-section-dynamic cq-heading {
	color: black;
}

.title-overlay-controls cq-study-legend cq-heading:after {
	content: ' ';
	display: inline-block;
	height: 12px;
	width: 12px;
	float: left;
	margin-left: 10px;
	margin-right: 4px;
	background-image: url(~chartiq/css/img/stx-sprite-ui.svg);
	background-position: -731px -31px;
}

@keyframes hovershow-toggle-animation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(450deg);
	}
}
@keyframes reverse-hovershow-toggle-animation {
	0% {
		transform: rotate(450deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.title-overlay-controls cq-study-legend cq-heading:after {
	animation: reverse-hovershow-toggle-animation ease-in-out 0.5s;
}

.title-overlay-controls cq-study-legend:hover cq-heading:after,
.title-overlay-controls cq-study-legend.ciq-active cq-heading:after {
	animation: hovershow-toggle-animation ease-in-out 0.5s;
	animation-iteration-count: 1;
	transform-origin: 50% 50%;
	animation-fill-mode: forwards;
}

.title-overlay-controls cq-study-legend:hover,
.title-overlay-controls cq-study-legend.ciq-active {
	height: auto;
}

.title-overlay-controls cq-study-legend cq-item {
	opacity: 0;
	transition: opacity 0.2s 0.5s, background-color 0.25s ease-in-out;
}

.title-overlay-controls cq-study-legend:hover cq-item {
	opacity: 1;
}

.title-overlay-controls cq-study-legend-content cq-heading {
	cursor: pointer;
}

.ciq-night .title-overlay-controls cq-study-legend cq-item,
.ciq-night .title-overlay-controls cq-study-legend cq-heading {
	color: #a2a8ad;
}

.ciq-night .title-overlay-controls:hover cq-study-legend cq-item,
.ciq-night .title-overlay-controls:hover cq-study-legend cq-heading {
	color: white;
}

.ciq-night .title-overlay-controls cq-study-legend cq-item:hover {
	background: #21323f;
}

html
	.ciq-night
	.title-overlay-controls
	cq-study-legend
	cq-item:hover
	.ciq-edit {
	background-position: -300px -50px;
}
html
	.ciq-night
	.title-overlay-controls
	cq-study-legend
	cq-item:hover
	.ciq-icon.ciq-close:after {
	background-position: -250px -50px;
}

/**
	overides body -> cq.. selectors
*/
.ciq-night .break-sm .ciq-menu.ciq-views > span:after,
.ciq-night .break-md .ciq-menu.ciq-views > span:after {
	background-position: -481px -50px;
}
.ciq-night .break-sm .ciq-menu.ciq-studies > span:after,
.ciq-night .break-md .ciq-menu.ciq-studies > span:after {
	background-position: -300px -50px;
}
.ciq-night .break-sm .ciq-menu.ciq-display > span:after,
.ciq-night .break-md .ciq-menu.ciq-display > span:after {
	background-position: -350px -50px;
}
.ciq-night .break-sm .ciq-menu.stx-markers > span:after,
.ciq-night .break-md .ciq-menu.stx-markers > span:after {
	background-position: -100px -50px;
}

*[cq-context] .break-sm .sidenav-toggle {
	display: block;
}

*[cq-context] .break-md .stx-wrapper.stx-trade-info.active,
*[cq-context] .break-sm .stx-wrapper.stx-trade-info.active {
	display: none;
}

*[cq-context] .break-md .stx-wrapper.stx-trade-nav,
*[cq-context] .break-sm .stx-wrapper.stx-trade-nav {
	display: block;
}

*[cq-context] .break-md .stx-trade-ticket-toggle,
*[cq-context] .break-sm .stx-trade-ticket-toggle {
	display: none;
}

/* style additions */
cq-drawing-palette .tool-group[tool-group-filter=favorites] [cq-tool-group*=favorite] {
  display: inline-block; }

cq-drawing-palette .tool-group[tool-group-filter=lines] [cq-tool-group*=lines] {
  display: inline-block; }

cq-drawing-palette .tool-group[tool-group-filter=markings] [cq-tool-group*=markings] {
  display: inline-block; }

cq-drawing-palette .ciq-tool .icon.elliottwave {
  background-position: 0 -1000px;
}

.chartContainer {
	flex-grow: inherit;
}
/**
	end overrides
*/

cq-drawing-palette.list .tool-group .ciq-tool label,
.break-sm cq-drawing-palette .tool-group .ciq-tool label {
	max-width: inherit;
}

.palette-container .ciq-tool-group-selection {
	top: inherit;
	right: inherit;
}

cq-item > cq-clickable {
	display: block;
}



